<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsh.blog.business.article.mapper.ArticleMapper">

    <select id="getPage" resultType="com.xsh.blog.business.article.vo.ArticleVo">
        select A.*,B.article_category_name,IFNULL(SUM(C.article_id),0) as commentNum,IFNULL(count(D.article_id),0) as collectNum
        from article as A
                 left join article_category as B on A.article_category_id = B.article_category_id
                 left join article_comment as C on A.article_id = C.article_id
                 left join article_collect as D on A.article_id = D.article_id
        ${ew.customSqlSegment}
        GROUP BY A.article_id
        ORDER BY A.create_time Desc
    </select>

</mapper>
